<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 mx-auto">
      <section class="inner">
        <h3>マイページ
        <%=link_to customers_information_edit_path(@customer), class:"btn btn-sm btn-outline-dark" do %>編集する
        <% end %>
        </h3>
          <table class="table table-borderless">
            <tbody>
          　   <tr>
          　     <td><b>氏名</b></td>
          　     <td><%= @customer.full_name %></td>
          　   </tr>
          　   <tr>
          　     <td><b>フリガナ</b></td>
          　     <td><%= @customer.full_name_kana %></td>
          　   </tr>
          　   <tr>
          　     <td><b>郵便番号</b></td>
      　　        <td><%= @customer.postal_code %></td>
          　   </tr>
          　   <tr>
          　     <td><b>住所</b></td>
          　     <td><%= @customer.address %> </td>
          　   </tr>
              <tr>
          　     <td><b>電話番号</b></td>
          　     <td><%= @customer.telephone_number %> </td>
          　   </tr>
              <tr>
          　     <td><b>メールアドレス</b></td>
          　     <td><%= @customer.email %> </td>
          　   </tr>
          　   <tr>
          　     <td><b>ユーザーネーム</b></td>
          　     <td><%= @customer.username %> </td>
          　   </tr>
            </tbody>
          </table>
        <div class = "form-group">
        配送先　　<%=link_to addresses_path, class:"btn btn-sm btn-dark" do %>一覧を見る
        <% end %>
        </div>
        <div class = "form-group">
        注文履歴　<%=link_to orders_path, class:"btn btn-sm btn-dark" do %>一覧を見る
        <% end %>
        </section>
      </div>
    </div>
  </div>
</div>
