<div class="container">
  <div class="row">
    <div class = "col-md-4"></div>
      <div class="col-md-8">
        <section class="inner">
          <h2 class="section-ttl">管理者ログイン</h2>

          <%= form_with model: @admin, url: session_path(resource_name), local: true do |f| %>
            <div class="field">
              <%= f.label :email, "メールアドレス" %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", size: "30" %>
            </div>
  
            <div class="field">
              <%= f.label :password, "パスワード" %><br />
              <%= f.password_field :password, autocomplete: "current-password", size: "30" %>
            </div>
  
            <div class="actions pt-4">
              <%= f.submit "ログイン", class: "btn btn-primary" %>
            </div>
          <% end %>
        </section>
      </div>
     </div>
  </div>
</div>