<div class="container">
 <div class = "row"><!--<div class="card-list-container py-5">-->
  <% post_images.each do |post_image| %>
  <!--<div class="card w-50 mx-auto mt-4 shadow-lg">-->
     <div class = "col-md-3">
       <div class = "card">
        <div class = "card-body">
          <%= link_to post_image_path(post_image.id) do %>
            <%= image_tag post_image.get_image, class:"card-img-top"; %>
          <% end %>
    <!--<div class="card-body">-->
    <!--  <div class="row">-->
    <!--    <div class="col-2">-->
        </div>
        <div class="col-14">
          <p class="card-title">
            <%= link_to(post_image_path(post_image.id), class:"text-dark") do %>
              <strong><i class="far fa-flag"></i><span> <%= post_image.shop_name %></span></strong>
            <% end %>
          </p>
          <p class="card-text">アイテム名：<%= post_image.name %></p>
           <p class="card-text">税込価格：<%= post_image.price %>円</p>
          <p class="card-text">説明：<%= post_image.caption %></p>
          <span><i class="fas fa-user"></i> By <%= post_image.customer.username %> ｜ </span>
          <span><%= link_to "#{post_image.post_comments.count} コメント", post_image_path(post_image.id), class:"text-dark" %></span>
        </div>
      </div>
    </div>
   <% end %>
  </div>
</div>