<div class="container">
  <h2>投稿一覧</h2>
  <hr>
    <div class = "row">
     <% @post_images.each do |post_image| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class = "card">
          <div class = "card-body">
            <%= link_to post_image_path(post_image.id) do %>
              <%= image_tag post_image.get_image(200,200), class:"card-img-top"; %>
            <% end %>
            <div><i class="fas fa-tshirt"></i> : <%= post_image.name %></div>
            <div> <i class="fas fa-yen-sign"></i> ：<%= post_image.price.to_s(:delimited) %>円</div>
            <div><%= post_image.caption %></div>
            <span><i class="fas fa-user"></i> By <%= post_image.customer.username %> ｜ </span>
            <span><%= link_to "#{post_image.post_comments.count} コメント", post_image_path(post_image.id), class:"text-dark" %></span>
          </div>
        </div>
      </div>
     <% end %>
    </div>
  <%= paginate @post_images %>
</div>
