<div class="card w-50 mx-auto mt-4 shadow-lg">
  <div>
    <div class="text-center mt-3">
    <%= image_tag @post_image.get_image(400,400) %>
    </div>
    <div class="text-right">
    <%=  @post_image.created_at.strftime('%Y/%m/%d') %>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <% if @post_image.favorited_by?(current_customer) %>
          <p>
           <%= link_to post_image_favorites_path(@post_image), method: :delete do %>
           ♥<%= @post_image.favorites.count %>
          <% end %>
          </p>
          <% else %>
          <p>
           <%= link_to post_image_favorites_path(@post_image), method: :post do %>
           ♡<%= @post_image.favorites.count %>
          <% end %>
          </p>
          <% end %>
          <p><i class="fas fa-user-circle"></i>.  <%= @post_image.customer.username %></p>
          <p><i class="fas fa-tshirt"></i>.  <%= @post_image.name %></p>
          <p><i class="fas fa-yen-sign"></i>   <%= @post_image.price.to_s(:delimited) %>円</p>
          <p>説明：<%= @post_image.caption %></p>
        </div>
        <div class="col-md-6">
        <div>
          <p>コメント件数：<%= @post_image.post_comments.count %></p>
          <% @post_image.post_comments.each do |post_comment| %>
            <%= post_comment.customer.username %>&emsp;
            <%= post_comment.comment %>
            <p class="text-right"><%= post_comment.created_at.strftime('%Y/%m/%d') %></p></br>
          <% end %>
        </div>
        <div>
          <%= form_with model: [@post_image, @post_comment] do |f| %>
            <%= f.text_area :comment, rows: '3', placeholder: "コメントをここに" %>
            <%= f.submit "送信する" %>
          <% end %>
        </div>
          <% if @post_image.customer == current_customer %>
            <%= link_to "投稿を削除", post_image_path(@post_image), method: :delete, class:"btn btn-sm btn-danger" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
