<div class="container">
  <h2>検索結果</h2>
  <hr>
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card">
          <%= link_to item_path(item.id) do %>
             <%= image_tag item.get_image(500, 500), class: 'card-img-top img-fluid' %>
             <% end %>
          <div class="card-body">
            <div class="card-title">
              <h5><%= item.tags.pluck(:name).join(',') %></br></h5>
              <h6><%= item.name %></br></h6>
              <i class="fa fa-check fa-fw"></i><%= item.introduction %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @items %>
</div>
