<div class = "container">
  <div class = "row">
      <%= form_with model: @genre, url: admin_genres_path  do |f| %>
         <h5>ジャンル一覧・追加</h5> 
          <div class = "form-group">
           <table class="table">
            <thead>
             <tr>
              <th> <label for="name">ジャンル名</label></th>
              <th><%= f.text_field :name, :placeholder =>"ジャンル名" %></th>
              <th> <%= f.submit "新規登録",class:"btn btn-success" %></th>
             </tr>
            </thead>
           </table>
          </div>
       <%end%>
  </div>
</div>
       
 <div class = "container">
  <div class = "row">
    <div class = "col-4">     
        <table class="table">
         <thead>
          <tr class="table-secondary">
           <th></th>
           <th>ジャンル</th>
           <th></th>
          </tr>
         </thead> 
         <tbody>
          <% @genres.each do |genre| %>
           <tr>
            <td><%= genre.name %></td>
            <td></td>
            <td><%=link_to edit_admin_genre_path(genre), class:"btn btn-sm btn-success" do %>編集する</td>
            <%end%>
           </tr>
          <%end%>
         </tbody>
       </table>
   </div>
  </div>
 </div>