<div class="container">
  <div class="row no-gutters">
    <div class="col-md-8 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light p-4 mb-0">パーソナルカラー診断</h5>
      <div class="form-body p-4">
          <%= form_for(@color, class: 'form-horizontal', role: 'form') do |f| %>
            <div class="container-sindan">
                <div class="row">
                    <table class = "table">
                    <tr>
                    <div class="col-12">
                        <p>Question1. 目の色は…</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "1", nil %>瞳が濃い茶色か黒で白目が青い</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "2", nil %>瞳が薄い茶色か茶色で白目が黄色い</p>
                    </div>
                    </tr>

                    <tr>
                    <div class="col-12">
                        <p>Question2. 手首から浮き出る血管の色は…</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "1", nil %>青色</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "2", nil %>緑色</p>
                    </div>
                    </tr>

                    <tr>
                    <div class="col-12">
                        <p>Question3. あなたの印象に近いのは…</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "1", nil %>明るい、優しそう、癒し系</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "2", nil %>大人っぽい、しっかりしている、クール</p>
                    </div>
                    </tr>

                    <tr>
                    <div class="col-12">
                        <p>Question4. どちらかといえば…</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "1", nil %>パステルカラーが似合う</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "2", nil %>落ち着いたカラーが似合う</p>
                    </div>
                    </tr>
                    </table>
                </div>
            </div>
            <div class="sindanbotan">
                <%= f.submit "診断",class:"btn btn-info w-25" %>
            </div>
　　　　　<% end %>
　　　</div>
    </div>
  </div>
</div>
