<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-10 mx-2 mx-auto shadow-lg rounded px-0 my-3">
      <h5 class="text-center bg-light p-3 mb-0"><strong>パーソナルカラー診断</strong><i class="fas fa-paint-brush"></i></h5>
        <div class="form-body p-4">
          <%= form_for(@color, class: 'form-horizontal', role: 'form') do |f| %>
            <div class="container-sindan">
                <div class="row mb-4 border-bottom border-dark">
                    <div class="col-12">
                        <p>Question1. 目の色はどちらかというと…</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "1", nil %>瞳が濃い茶色か黒で白目が青い</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "2", nil %>瞳が薄い茶色か茶色で白目が黄色い</p>
                    </div>
                </div>
                <div class="row mb-4 border-bottom border-dark">
                    <div class="col-12">
                        <p>Question2. 手首から浮き出る血管の色は…</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "3", nil %>青色</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "4", nil %>緑色</p>
                    </div>
                </div>
                <div class="row mb-4 border-bottom border-dark">
                    <div class="col-12">
                        <p>Question3. あなたの印象に近いのは…</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "5", nil %>明るい、優しそう、癒し系</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "6", nil %>大人っぽい、しっかりしている、クール</p>
                    </div>
                </div>
                <div class="row mb-4 border-bottom border-dark">
                    <div class="col-12">
                        <p>Question4. どちらかといえば…</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "7", nil %>パステルカラーが似合う</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "8", nil %>落ち着いたカラーが似合う</p>
                    </div>
                </div>
            </div>
            <div class="text-center pt-4">
                <%= f.submit "診断",class:"btn btn-info w-25" %>
            <% end %>
            </div>
　　　  </div>
    </div>
  </div>
</div>
