<div class = "container">
  <div class = "row">
    <div class = "col-10">
       <h2>Log in</h2>
       <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
       <table class = "table">
        <tr>
         <td>
         <div class="field">
          <%= f.label :メールアドレス %><br />
         </td>
         <td>
          <%= f.email_field :email, autofocus: true, autocomplete: "email",size: "50" %>
         </div>
         </td>
        </tr>
        <tr>
         <td>
         <div class="field">
          <%= f.label :パスワード %><br />
         </td>
         <td>
          <%= f.password_field :password, autocomplete: "current-password",size: "50"  %>
         </div>
         </td>
        </tr>
        <tr>
         <td>
         </td>
         <td>
          <div class="actions">
          <%= f.submit "ログイン",class:"btn btn-info w-25" %>
          </div>
         </td>
        </tr>
       </table>
      <% end %>
      </div>
    </div>
  </div>
