<div class="container">
  <%= form_with  url: items_path, method: :get, local: true do |f| %>
  <% @tags.each do |tag| %>
    <%= check_box '', 'tag_ids[]', {checked: params[:tag_ids]&.include?("#{tag.id}")}, tag.id, nil %><%= tag.name %>
  <% end %>
  <%= f.submit "検索",class:"btn btn-success" %>
  <% end %>
  <h2>商品一覧</h2>
    <div class = "row">
           <% @items.each do |item| %>
           <div class = "col-md-3">
             <div class = "card">
             <div class = "card-body">
             <%= link_to item_path(item.id) do %>
             <%= image_tag item.get_image(200,200) %>
             <% end %>
             <div><%= item.name %></div>
             <div><%=item.add_tax_price.to_s(:delimited) %>円</div>
             </div>
             </div>
           </div>
         <% end %>
    </div>
</div>