<html>
  <head>
    <title>SuitsMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
      <header class="sticky-top">
       <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand header-logo" href="/">
            <span>SuitsMe</span>
          <link rel="preconnect" href="https://fonts.googleapis.com">
          <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
          <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
          <%= stylesheet_link_tag "application.css", media: "all", 'data-turbolinks-track': "reload" %>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <% if customer_signed_in? %>
              <ul class="navbar-nav mr-auto">
               <li class="nav-item">
                 <%= link_to "マイページ", customers_my_page_path, class:'nav-link' %>
               </li>
               <li class="nav-item ">
                 <%= link_to "商品一覧", items_path, class:'nav-link' %>
               </li>
               <li class="nav-item">
                 <%= link_to "カート", cart_items_path, class:'nav-link' %>
               </li>
               <li class="nav-item">
                 <%= link_to '注文一覧', orders_path, class:'nav-link'%>
               </li>
               <li class="nav-item">
                 <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class:'nav-link' %>
               </li>
              </ul>
              <% elsif admin_signed_in? %>
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                 <%= link_to "商品一覧", admin_items_path, class:'nav-link' %>
               </li>
                <li class="nav-item">
                 <%= link_to "会員一覧", admin_customers_path, class:'nav-link' %>
               </li>
                <li class="nav-item">
                 <%= link_to "注文履歴一覧", admin_path, class:'nav-link' %>
               </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link' %>
                </li>
              </ul>
              <% else %>
              <ul class="navbar-nav ml-auto">
                <li>
                  <%= link_to "新規登録", new_customer_registration_path, class: 'nav-link' %>
                </li>
                <li>
                  <%= link_to "ログイン", new_customer_session_path, class: 'nav-link' %>
                </li>
               </ul>
              <% end %>
            <% if customer_signed_in? %>
             <div class="search_form">
               <%= form_with url: search_path, local: true, method: :get do |f| %>
                <%= f.text_field :word %>
                <%= f.select :method, options_for_select([["完全一致","perfect_match"], ["部分一致","partial_match"]]) %>
                <%= f.submit "検索", class: "btn btn-dark" %>
               <% end %>
             </div>
            <% end %>
          </div>
        </div>
      </nav>
     </header>
    <main class="mb-auto">
    <% flash.each do |name, msg| %>
     <p class="alert alert-<%= bootstrap_class_for(name) %> m-0" >
       <%= msg %>
     </p>
    <% end %>
    <%= yield %>
    </main>
    <footer class="py-3">
        <div class="container">
            <% if customer_signed_in? %>
                <div class="text-center">

                    <%= link_to root_path, class: 'mr-3' do %>
                        <i class="fas fa-home fa-2x"></i>
                    <% end %>

                    <%= link_to about_path, class: 'mr-3' do %>
                        <i class="fas fa-question-circle fa-2x"></i>
                    <% end %>

                    <%= link_to new_post_image_path, class: 'mr-3' do %>
                        <i class="fas fa-plus-square fa-2x"></i>
                    <% end %>

                    <%= link_to post_images_path, class: 'mr-3' do %>
                        <i class="fas fa-universal-access fa-2x"></i>
                    <% end %>

                    <%= link_to colors_path do %>
                        <i class="fas fa-clipboard-list fa-2x"></i>
                    <% end %>

                </div>
            <% end %>
            <div class="text-center">
                <small>&copy; 2022 ABC Inc.</small>
            </div>
        </div>
    </footer>
  </body>
</html>

